body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(images/Headphones-image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-color: #E8EFF9;
    background-size: cover;  
}

.menu__top {
    display: flex;
    justify-content: space-between;
}

.menu__bottom {
    display: flex;
    flex-direction: column;
    padding: 152x 120px;
}