html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


section {
    height: 800px;
}

/* #region header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(images/Headphones-image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
}
/* #endregion header */
/* #region menu */
.menu {
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-color: #E8EFF9;
}

.menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
/* #endregion menu */
/* #region nav */
.nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.nav__link {
    color: #292929;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* #endregion nav */
