html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #292929;
    font-style: 16px;
    line-height: 140%;
}

section {
    height: 800px;
}

/* #region header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(images/Headphones-image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__title {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 100%;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -1.5px;
}

/* #endregion header */
/* #region menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-color: #E8EFF9;
}

.menu:target {
    transform: translateX(-0%);
}
.menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
/* #endregion menu */
/* #region nav */
.nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.nav__link {
    color: #292929;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* #endregion nav */

.main {
    padding: 120px;
}

/* #region recommended */
.recommended {
    margin-bottom: 120px;
}

.recommended__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 100%;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1.5px;
}

.recommended__products {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.product__photo {
    width: 324px;
    height: 320px;
    margin-bottom: 32px;
}

.product__title {
    margin-top: 0;
    margin-bottom: 8px;
}

.product__category {
    margin-top: 0;
    margin-bottom: 12px;
}

.product__price {
    margin: 0;
    font-weight: bold;
}

/* #endregion recommended */
.categories__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 100%;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1.5px;
}

.how-to-buy__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -1.5px;
}